.box{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.uc-cs-div {
    margin: auto;
    padding-top: 30px;
    box-sizing: border-box;
  }
  .jains {
    width: 130px;
    float: left;
    margin-right: 30px;
  }
  .jss {
    float: left;
    margin-left: 30px;
  }
  .xinz {
    float: right;
  }
  .uc-table {
    width: 90%;
    height: 70%;
    overflow: auto;
    margin: auto;
  }
  .uc-table::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
  }
  .uc-table::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
  }
  .uc-table::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #ededed;
  }
  
  .pagetion {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .pagition-li {
    width: 400px;
    margin: auto;
  }