.box{
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 20px;
    box-sizing: border-box;
    position: relative;
    overflow: auto;
}
.box::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
    margin-left: 10px;
}
  .box::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
}
.box::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}
.inp{
    width: 400px;
    margin: 5px 0;
    padding-left: 40px;
    box-sizing: border-box;
    float: left;
    display: block;
}
.head{
    width: 100%;
    border-bottom: 2px solid #ccc;
    color: #000;
    font-weight: bold;
    line-height: 30px;
    margin: 10px 0;
    box-sizing: border-box;
    float: left;
    font-size: 10px;
}
.header-inp{
    border: 0;  
    outline: none; 
    background-color: rgba(0, 0, 0, 0);

}
.baiop{
    width: 100px;
    height: 30px;
    display: block;
    float: left;
    line-height: 28px;
    font-size: 12px;
}
.ProductPhotos{
    width: 100%;
    position: absolute;
    top: 50px;
}
.ps{
    width: 150px;
    height: 150px;
    float: left;
    border: 5px solid #fff;
    position: relative;
}
.ps img{
    width: 100%;
    display: block;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.zhe{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #fff0;
}
.red{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #00000078;
    color: #fff;
    font-size: 20px;
    line-height: 150px;
    text-align: center;
}
.pagetion{
    padding: 0 20%;
}